body{
    margin:0;
    padding: 20px;
    font-family:Arial,sans-serif;
    background: #f4f6f8;
}

.title{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap:20px;
    max-width: 1000px;
    margin: auto;
}

.card{
    background: rgba(175, 163, 166, 0.688);
    padding: 30px;
    text-align: center;
    border-radius: 12px;
    font-size:18px;
    color: #391e2c;
    box-shadow: 0 8px 20px rgbargba(0,0,0.08);
    transition: transform 0.3s, box-shadow 0.3s;
}

.car:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}