/* ===== AUTH PAGES ===== */
.center{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.auth-card{
  background:white;
  width:340px;
  padding:35px;
  border-radius:15px;
  box-shadow:0 20px 40px rgba(0,0,0,0.12);
  animation:fade 0.5s;
}

.auth-card h2{
  text-align:center;
  margin-bottom:5px;
}

.sub{
  text-align:center;
  font-size:14px;
  color:#666;
  margin-bottom:20px;
}

.auth-card input{
  width:100%;
  padding:12px;
  margin:10px 0;
  border-radius:8px;
  border:1px solid #ddd;
  transition:0.3s;
}

.auth-card input:focus{
  border-color:#6366f1;
  outline:none;
  box-shadow:0 0 0 2px #e0e7ff;
}

.auth-card button{
  width:100%;
  padding:12px;
  margin-top:10px;
  background:linear-gradient(135deg,#667eea,#764ba2);
  color:white;
  border:none;
  border-radius:8px;
  font-size:16px;
  cursor:pointer;
  transition:0.3s;
}

.auth-card button:hover{
  transform:translateY(-2px);
}

.switch{
  text-align:center;
  margin-top:15px;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f6f8fc;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 30px;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

.card h2 {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg,#4facfe,#00f2fe);
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

header {
  background: linear-gradient(135deg,#667eea,#764ba2);
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.quiz-card {
  max-width: 600px;
  background: white;
  margin: 40px auto;
  padding: 30px;
  border-radius: 15px;
}

.options button {
  width: 100%;
  margin: 8px 0;
  background: #eef2ff;
  color: black;
}

.progress {
  height: 8px;
  background: #ddd;
}

#progressBar {
  height: 100%;
  width: 0%;
  background: #4facfe;
}
