body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f1f3f6;
}

/* HEADER */
.header{
    background:#2874f0;
    color:white;
    padding:20px;
    text-align:center;
}

/* PRODUCT GRID */
.product-container{
    display:flex;
    gap:20px;
    padding:30px;
    justify-content:center;
}

/* PRODUCT CARD */
.product-card{
    background:white;
    width:260px;
    padding:15px;
    position:relative;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    display:flex;
    flex-direction:column;
    align-items:center;
}

.product-card img{
    width:100%;
    height:180px;
    object-fit:cover;
}

/* DISCOUNT BADGE */
.discount-badge{
    position:absolute;
    top:10px;
    right:10px;
    background:#ff3f6c;
    color:white;
    padding:5px 8px;
    font-size:12px;
    font-weight:bold;
}

/* PRODUCT TEXT */
.product-card h3{
    font-size:16px;
    margin:10px 0;
    text-align:center;
}

/* PRICE */
.price{
    font-size:18px;
    font-weight:bold;
    color:#388e3c;
}

.price span{
    font-size:14px;
    color:#777;
    text-decoration:line-through;
    margin-left:6px;
}

/* BUTTON */
button{
    margin-top:10px;
    padding:8px;
    width:100%;
    background:#2874f0;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover{
    background:#0b5ed7;
}
