* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;


    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: rgb(187, 202, 226);
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #6b5cff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #555;
}


.content {
    flex: 1; 
    max-width: 700px;
    margin: 80px auto;
    text-align: center;
    padding: 20px;
}


.footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(227, 229, 218);
    color: #777;
    font-size: 14px;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.05);
}
